<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>64877585196-h668tr8635lrovj9150oga6kbqrunlu8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.64877585196-h668tr8635lrovj9150oga6kbqrunlu8</string>
	<key>API_KEY</key>
	<string>AIzaSyAOTw-8_tJz7omGauMtRKkcaP8F4BqvEYg</string>
	<key>GCM_SENDER_ID</key>
	<string>64877585196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Zentacle</string>
	<key>PROJECT_ID</key>
	<string>zentacle-temporary</string>
	<key>STORAGE_BUCKET</key>
	<string>zentacle-temporary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64877585196:ios:45ce9bfe41ad3cf34a8289</string>
</dict>
</plist>